useDynLib(rxode2nn, .registration = TRUE)
importFrom(rxode2, rxD)
importFrom(rxode2, rxRmFun)
importFrom(rxode2, rxode2parseAssignTranslation)
importFrom(rxode2, rxode2parseGetTranslation)
export(nnprobe)
export(nnnpars)
export(nnSetMeta)
export(nnClearMeta)
export(nnWeightLayout)
export(nn1)
export(nn1_d1)
export(nn1_d1_d1)
export(nn2)
export(nn2_d1)
export(nn2_d2)
export(nn2_d1_d1)
export(nn2_d1_d2)
export(nn2_d2_d2)
